:root {
  --face-color: rgb(7, 7, 7);
  --face-height: 100vh;
  --face-width: 100vw;
  --eye-size: 26.00vmin;
  --bulb-size: 33.33vmin;
  --eye-color: white;
  --eyelid-color: whitesmoke;
  --mouth-color: black;
  --mouth-width: 20vw;
  --mouth-height: 20vh;
  --nose-color: black;
  --nose-width: 15vw;
  --nose-height: 15vh;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}

.face {
  background-color: var(--face-color);
  margin: auto;
  height: var(--face-height);
  width: var(--face-width);
  position: relative;
  overflow: hidden;
}

.face div {
  position: absolute;
}

.eyebrow {
  height: 10vmin;
  width: 50vmin;
}

.eyebrow.left {
  left: 1%;
  top: 10%;
}

.eyebrow.right {
  right: -5%;
  top: 10%;
}

.bulb {
  height: calc(var(--bulb-size) * 1.2);
  width: var(--bulb-size);
  top: 15%;
  position: relative;
}

.bulb.left {
  left: 5%;
}

.bulb.right {
  right: 15%;
}

.eye {
  position: relative;
  border-radius: 50%;
  height: var(--eye-size);
  width: var(--eye-size);
  top:10%;
  z-index: 1; /* Gli occhi sono sotto rispetto alle pupille */
}

.pupil {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Le pupille sono sopra gli occhi */
  width: 40%;
  height: 60%;
  border-radius: 50%;
  transition: transform 0.5s ease; /* Movimento fluido */
}

.eyelid {
  position: absolute;
  height: var(--eye-size);
  width: calc(var(--eye-size) * 1.75);
  background-color: var(--eyelid-color);
  z-index: 2;
  border-radius: 50%;
}

.eyelid.upper {
  top: 0;
  left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
  bottom: 0;
  left: calc(var(--eye-size) * -0.375);
}

.mouth {
  height: var(--mouth-height);
  width: var(--mouth-width);
  bottom: 18%;
  left: 40%;
  z-index: 4;
  position: absolute;
}

.nose {
  height: var(--nose-height);
  width: var(--nose-width);
  bottom: 25%;
  left: calc(var(--face-width) / 2 - var(--nose-width) / 2);
  z-index: 4;
  position: absolute;
}

/* Transizione Fluida per il Movimento */
.pupil {
  transition: transform 0.5s ease-in-out;
}

/* Stile pulsanti (se presenti) */
button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 3px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background-color: #555;
}
