# rplidar
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="68ac606df7e5ed119702d0a80b2af5ab", SYMLINK+="rplidar", MODE="0666"
